In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
import pandas as pd

In [2]:
# Import declarative base and set Base variable
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
df = pd.read_csv("data.csv")

In [4]:
gb = df.groupby("LocationAbbr").mean().reset_index()

In [5]:
gb.head()

  LocationAbbr     Year  DataValue
0           AK  2013.25  36.919444
1           AL  2013.25  43.458333
2           AR  2013.25  41.886111
3           AZ  2013.25  38.686111
4           CA  2013.25  38.461111

In [6]:
average_dict = {}
for index, row in gb.iterrows():
    average_dict.update({row["LocationAbbr"]:row["DataValue"]})

In [7]:
average_list = []
for index, row in df.iterrows():
    average_list.append(average_dict[row["LocationAbbr"]])

In [8]:
df["Average"] = average_list

In [9]:
question_dict = {
    "Prevalence of diagnosed diabetes among adults aged >= 18 years": "Diabetes",
    "Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes": "Blood Pressure",
    "Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes": "Cholesterol"
}

In [10]:
question_list = []
for index, row in df.iterrows():
    question_list.append(question_dict[row["Question"]])

In [11]:
df["AbbrQuestion"] = question_list

In [12]:
df.head()

,Year,LocationAbbr,LocationDesc,Question,DataValue,Gender,Average,AbbrQuestion
0,2013,AL,Alabama,Prevalence of high blood pressure among adults...,79.4,Female,43.458333,Blood Pressure
1,2015,AL,Alabama,Prevalence of high blood pressure among adults...,78.6,Female,43.458333,Blood Pressure
2,2011,AL,Alabama,Prevalence of high blood pressure among adults...,78.1,Female,43.458333,Blood Pressure
3,2011,AL,Alabama,Prevalence of high blood pressure among adults...,77.8,Overall,43.458333,Blood Pressure
4,2013,AL,Alabama,Prevalence of high blood pressure among adults...,77.6,Overall,43.458333,Blood Pressure

In [13]:
class Data(Base):
    __tablename__ = 'data'
    id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    LocationAbbr = Column(String(255))
    LocationDesc = Column(String(255))
    Question = Column(String(255))
    DataValue = Column(Float)
    Gender = Column(String(255))
    Average = Column(Integer)
    AbbrQuestion = Column(String(255))

In [14]:
engine = create_engine("sqlite:///diabetes.sqlite")
conn = engine.connect()

In [15]:
Base.metadata.create_all(conn)

In [16]:
session = Session(bind=engine)

In [17]:
x = 1

In [18]:
for index, row in df.iterrows():
    data = Data(
        id = x,
        Year=row["Year"],
        LocationAbbr = row["LocationAbbr"],
        LocationDesc = row["LocationDesc"],
        Question = row["Question"],
        DataValue = row["DataValue"],
        Gender = row["Gender"],
        Average = row["Average"],
        AbbrQuestion = row["AbbrQuestion"])
    session.add(data)
    session.commit()
    x +=1

In [19]:
df = pd.read_sql_query("SELECT * FROM data",conn)

In [20]:
df

,id,Year,LocationAbbr,LocationDesc,Question,DataValue,Gender,Average,AbbrQuestion
0,1,2013,AL,Alabama,Prevalence of high blood pressure among adults...,79.4,Female,43.458333,Blood Pressure
1,2,2015,AL,Alabama,Prevalence of high blood pressure among adults...,78.6,Female,43.458333,Blood Pressure
2,3,2011,AL,Alabama,Prevalence of high blood pressure among adults...,78.1,Female,43.458333,Blood Pressure
3,4,2011,AL,Alabama,Prevalence of high blood pressure among adults...,77.8,Overall,43.458333,Blood Pressure
4,5,2013,AL,Alabama,Prevalence of high blood pressure among adults...,77.6,Overall,43.458333,Blood Pressure
5,6,2011,AL,Alabama,Prevalence of high blood pressure among adults...,77.5,Male,43.458333,Blood Pressure
6,7,2015,AL,Alabama,Prevalence of high blood pressure among adults...,77.3,Overall,43.458333,Blood Pressure
7,8,2015,AL,Alabama,Prevalence of high blood pressure among adults...,75.8,Male,43.458333,Blood Pressure
8,9,2013,AL,Alabama,Prevalence of high blood pressure among adults...,75.6,Male,43.458333,Blood Pressure
9,10,2011,AL,Alabama,Prevalence of high cholesterol among adults ag...,75.3,Male,43.458333,Cholesterol
10,11,2011,AL,Alabama,Prevalence of high cholesterol among adults ag...,74.0,Overall,43.458333,Cholesterol
11,12,2011,AL,Alabama,Prevalence of high cholesterol among adults ag...,72.9,Female,43.458333,Cholesterol
12,13,2013,AL,Alabama,Prevalence of high cholesterol among adults ag...,70.1,Female,43.458333,Cholesterol
13,14,2015,AL,Alabama,Prevalence of high cholesterol among adults ag...,68.7,Male,43.458333,Cholesterol
14,15,2015,AL,Alabama,Prevalence of high cholesterol among adults ag...,68.2,Overall,43.458333,Cholesterol
15,16,2015,AL,Alabama,Prevalence of high cholesterol among adults ag...,67.9,Female,43.458333,Cholesterol
16,17,2013,AL,Alabama,Prevalence of high cholesterol among adults ag...,67.8,Overall,43.458333,Cholesterol
17,18,2013,AL,Alabama,Prevalence of high cholesterol among adults ag...,65.3,Male,43.458333,Cholesterol
18,19,2013,AK,Alaska,Prevalence of high blood pressure among adults...,82.3,Male,36.919444,Blood Pressure
19,20,2011,AK,Alaska,Prevalence of high blood pressure among adults...,77.2,Female,36.919444,Blood Pressure
20,21,2013,AK,Alaska,Prevalence of high blood pressure among adults...,75.9,Overall,36.919444,Blood Pressure
21,22,2013,AK,Alaska,Prevalence of high cholesterol among adults ag...,74.2,Male,36.919444,Cholesterol
22,23,2015,AK,Alaska,Prevalence of high blood pressure among adults...,71.1,Male,36.919444,Blood Pressure
23,24,2011,AK,Alaska,Prevalence of high blood pressure among adults...,70.3,Overall,36.919444,Blood Pressure
24,25,2013,AK,Alaska,Prevalence of high cholesterol among adults ag...,69.5,Overall,36.919444,Cholesterol
25,26,2013,AK,Alaska,Prevalence of high blood pressure among adults...,68.2,Female,36.919444,Blood Pressure
26,27,2011,AK,Alaska,Prevalence of high cholesterol among adults ag...,66.2,Male,36.919444,Cholesterol
27,28,2015,AK,Alaska,Prevalence of high blood pressure among adults...,63.9,Overall,36.919444,Blood Pressure
28,29,2013,AK,Alaska,Prevalence of high cholesterol among adults ag...,63.9,Female,36.919444,Cholesterol
29,30,2011,AK,Alaska,Prevalence of high blood pressure among adults...,63.4,Male,36.919444,Blood Pressure
...,...,...,...,...,...,...,...,...,...
1917,1918,2011,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,67.4,Female,37.972222,Cholesterol
1918,1919,2011,WI,Wisconsin,Prevalence of high blood pressure among adults...,67.2,Overall,37.972222,Blood Pressure
1919,1920,2015,WI,Wisconsin,Prevalence of high blood pressure among adults...,66.7,Overall,37.972222,Blood Pressure
1920,1921,2015,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,65.0,Overall,37.972222,Cholesterol
1921,1922,2013,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,64.5,Male,37.972222,Cholesterol
1922,1923,2011,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,64.0,Overall,37.972222,Cholesterol
1923,1924,2013,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,63.5,Overall,37.972222,Cholesterol
1924,1925,2015,WI,Wisconsin,Prevalence of high blood pressure among adults...,62.7,Male,37.972222,Blood Pressure
1925,1926,2013,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,62.7,Female,37.972222,Cholesterol
1926,1927,2011,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,60.1,Male,37.972222,Cholesterol
1927,1928,2015,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,60.0,Male,37.972222,Cholesterol
1928,1929,2011,WI,Wisconsin,Prevalence of high blood pressure among adults...,59.4,Male,37.972222,Blood Pressure
1929,1930,2011,WY,Wyoming,Prevalence of high blood pressure among adults...,73.0,Female,37.602778,Blood Pressure
1930,1931,2015,WY,Wyoming,Prevalence of high blood pressure among adults...,72.7,Female,37.602778,Blood Pressure
1931,1932,2011,WY,Wyoming,Prevalence of high blood pressure among adults...,71.9,Overall,37.602778,Blood Pressure
1932,1933,2015,WY,Wyoming,Prevalence of high blood pressure among adults...,71.8,Overall,37.602778,Blood Pressure
1933,1934,2013,WY,Wyoming,Prevalence of high blood pressure among adults...,71.2,Male,37.602778,Blood Pressure
1934,1935,2015,WY,Wyoming,Prevalence of high blood pressure among adults...,71.1,Male,37.602778,Blood Pressure
1935,1936,2011,WY,Wyoming,Prevalence of high blood pressure among adults...,70.9,Male,37.602778,Blood Pressure
1936,1937,2015,WY,Wyoming,Prevalence of high cholesterol among adults ag...,70.3,Female,37.602778,Cholesterol
1937,1938,2011,WY,Wyoming,Prevalence of high cholesterol among adults ag...,68.2,Female,37.602778,Cholesterol
1938,1939,2013,WY,Wyoming,Prevalence of high blood pressure among adults...,67.1,Overall,37.602778,Blood Pressure
1939,1940,2015,WY,Wyoming,Prevalence of high cholesterol among adults ag...,66.2,Overall,37.602778,Cholesterol
1940,1941,2015,WY,Wyoming,Prevalence of high cholesterol among adults ag...,63.2,Male,37.602778,Cholesterol
1941,1942,2013,WY,Wyoming,Prevalence of high blood pressure among adults...,63.0,Female,37.602778,Blood Pressure
1942,1943,2011,WY,Wyoming,Prevalence of high cholesterol among adults ag...,62.4,Overall,37.602778,Cholesterol
1943,1944,2013,WY,Wyoming,Prevalence of high cholesterol among adults ag...,62.0,Female,37.602778,Cholesterol
1944,1945,2013,WY,Wyoming,Prevalence of high cholesterol among adults ag...,60.2,Overall,37.602778,Cholesterol
1945,1946,2013,WY,Wyoming,Prevalence of high cholesterol among adults ag...,58.5,Male,37.602778,Cholesterol
1946,1947,2011,WY,Wyoming,Prevalence of high cholesterol among adults ag...,57.3,Male,37.602778,Cholesterol